body{
  background:#020617;
  color:white;
  font-family:sans-serif;
  padding:10px;
}

h1{
  text-align:center;
}

.card{
  background:#0f172a;
  padding:16px;
  border-radius:16px;
  margin-bottom:14px;
}

#semana{
  display:flex;
  gap:6px;
}

.dia{
  flex:1;
  text-align:center;
  padding:10px;
  border-radius:10px;
  background:#1e293b;
  cursor:pointer;
}

.activo{
  background:#22c55e;
  color:black;
  font-weight:bold;
}

label{
  display:flex;
  justify-content:space-between;
  margin:6px 0;
}

button{
  width:100%;
  padding:10px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:black;
  font-weight:bold;
}

/* INPUTS PRO */
input{
  width:100%;
  padding:10px;
  margin:6px 0;
  border-radius:10px;
  border:none;
  background:#020617;
  color:white;
}

/* EVENTOS */
.evento{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:8px 0;
  border-bottom:1px solid rgba(255,255,255,0.05);
}

/* BOTON BORRAR */
.btn-delete{
  background:#ef4444;
  color:white;
  border:none;
  padding:6px 10px;
  border-radius:8px;
  cursor:pointer;
  font-size:12px;
}

.btn-delete:hover{
  background:#dc2626;
}
