body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  max-width:500px;
  margin:auto;
}

header{
  padding:20px;
}

.nav-dias{
  display:flex;
  justify-content:space-between;
  background:#020617;
  padding:10px;
  border-radius:10px;
}

.nav-dias span{
  flex:1;
  text-align:center;
}

button{
  width:100%;
  padding:10px;
  margin-top:10px;
  background:#22c55e;
  border:none;
  border-radius:10px;
  color:white;
}

.card{
  background:#1e293b;
  margin:10px;
  padding:15px;
  border-radius:15px;
}

.barra{
  height:10px;
  background:#334155;
  border-radius:10px;
}

#progresoBarra{
  height:100%;
  width:0%;
  background:#22c55e;
}

.hora{
  background:#020617;
  padding:10px;
  margin-top:5px;
  border-radius:10px;
}

.evento{
  background:#22c55e;
  padding:5px;
  margin-top:5px;
  border-radius:5px;
}

li{
  background:#020617;
  margin-top:5px;
  padding:10px;
  border-radius:10px;
  display:flex;
  justify-content:space-between;
}
